@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Testing>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	 Layout = "master.cshtml";
}

<h1>@Model.Name</h1>
<div>@Model.BodyText</div>