<?xml version="1.0" encoding="utf-8"?>
<Content Key="ebcc8a96-2b2d-4e3d-ba43-f7bd6e9fbd1e" Alias="This is a test" Level="2">
  <Info>
    <Parent Key="dcf18a51-6919-4cf8-89d1-36b94ce4d963">Home</Parent>
    <Path>/Home/ThisIsATest</Path>
    <Trashed>false</Trashed>
    <ContentType>testing</ContentType>
    <CreateDate>2023-03-13T13:56:06</CreateDate>
    <NodeName Default="This is a test" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b555c46e-1072-4913-b6f2-ac5183db4145">Testing</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Hello world.</p>]]></Value>
    </bodyText>
  </Properties>
</Content>